<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hcs.android.call">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Needed to allow Linphone to install on tablets, since android.permission.CAMERA implies android.hardware.camera and android.hardware.camera.autofocus are required -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- 允许应用程序访问网络 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <!-- 允许应用程序关闭系统 -->
    <!-- 张源: 属于Protected Permission的权限，仅仅在AndroidManifest.xml中申明是无法真正获取到权限的-->
    <!-- 实际上直接敲 reboot -p 命令就能关闭系统, 根本不需要广播关闭 -->
    <!--    <uses-permission android:name="android.permission.SHUTDOWN"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <!-- 允许应用程序访问存储设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许访问网络主题-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".LinphoneService"
            android:label="@string/service_name" />
    </application>
</manifest>
